* {
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}


div {/*확인용*/
    /*border: 1px solid skyblue;*/
}

#content {
    overflow: hidden;
    width: 1000px;
    margin: 100px auto;
    
    
}

#leftcontent {
    float: left;
    width: 400px;
    padding: 100px 0px;
}
#leftcontent>h1 {
    font-weight: 800;
    font-size: 60px;
    color: #1877f2;
}

#leftcontent>h4 {
    font-weight: 300;
    font-size: 25px;
    font-family: 'Noto Sans KR', sans-serif;
    
}

#rightcontent {
    float: right;
    padding: 20px;
    text-align: center;
    
}
#login {
    width: 400px;
    height: 350px;
    background-color: white;
    border: 1px solid #DDD;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #DBDBDB;
}

#login>input[type=text] {
    background-color: white;
    border: 1px solid #DDD;
    border-radius: 6px;
    
    width: 365px;
    height: 45px;
}

#loginid {
    margin-top: 15px;
}
input::placeholder {
    color: #AAA;
    font-size: 16px;
    padding: 0 15px;
}

#loginpw {
    margin: 10px 0;
}

#pagemaking {
    font-size: 15px;
    overflow: hidden;
    margin: 30px 60px;
}

#pagemaking>h4:first-child {
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    float: left;
}
#pagemaking>h4:last-child {
    float: left;
}

#login>h5 {
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;    
    color: #1877f2;
    background-color: white;
}

#loginbutton {
    background-color: #1877f2;
}


input[type=button] {
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
}

#joinbutton {
    background-color: #42b72a;
}
